mixin canonical(path)
  link(href=path rel='canonical')

mixin description(value)
  meta(name='description' content=value)

mixin favicon(path, sizes = [32, 57, 76, 96, 128, 196, 228])
  each size in sizes
    +icon(path, size)
  //- link(rel='shortcut icon' sizes='196x196' href=path+'196.png')

mixin font(path)
  link(href=path type='font/'+path.split('.').pop() rel='preload' as='font' crossorigin='anonymous')

mixin icon(path, size)
  link(href=path+size+'.png' type="image/png" rel='icon' sizes=size+'x'+size)

mixin og(key, value)
  meta(property='og:'+key content=value)

mixin style(path, pre = 'preload')
  if pre
    link(href=path type='text/css' rel=pre as='style')
  link(href=path type='text/css' rel='stylesheet' as='style')
